/* Reset básico para garantir que não haja margens ou espaçamentos indesejados */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Estilização global para o HTML e corpo do documento */
html, body {
    font-family: 'inter', sans-serif; /* Define a fonte padrão para o texto */
}

/* Contêiner principal que envolve o formulário e centraliza seu conteúdo */
.container {
    width: 420px; /* Define a largura fixa do contêiner */
    height: 500px; /* Define a altura fixa do contêiner */
    display: flex; /* Usa flexbox para facilitar o alinhamento */
    align-items: center; /* Alinha verticalmente o conteúdo ao centro */
    justify-content: center; /* Alinha horizontalmente o conteúdo ao centro */
    flex-direction: column; /* Organiza os elementos em uma coluna */
}

/* Cabeçalho do contêiner */
.container .header {
    display: flex; /* Usa flexbox para facilitar o alinhamento */
    align-items: center; /* Alinha os itens do cabeçalho no centro */
    flex-direction: column; /* Organiza os elementos em uma coluna */
    margin-top: 70px; /* Espaçamento superior para posicionar o cabeçalho */
    margin-bottom: 30px; /* Espaçamento inferior para separar do formulário */
}

/* Estilização do texto dentro do cabeçalho */
.container .header span {
    padding-top: 4px; /* Adiciona espaçamento superior ao texto */
    font-weight: 500; /* Define o peso da fonte como médio */
    font-size: 20px; /* Define o tamanho da fonte */
    line-height: 24px; /* Define a altura da linha do texto */
}

/* Estilização do formulário */
.container form {
    display: flex; /* Usa flexbox para facilitar o alinhamento */
    align-items: center; /* Alinha os itens do formulário no centro */
    justify-content: center; /* Centraliza o formulário */
    flex-direction: column; /* Organiza os elementos do formulário em uma coluna */
}

/* Contêiner para cada campo de entrada no formulário */
.container form .inputContainer {
    display: flex; /* Usa flexbox para facilitar o alinhamento */
    align-items: flex-start; /* Alinha os itens no início */
    flex-direction: column; /* Organiza os elementos do campo em uma coluna */
}

/* Estilização do rótulo (label) dos campos de entrada */
.container form .inputContainer label {
    font-weight: 400; /* Define o peso da fonte como normal */
    font-size: 16px; /* Define o tamanho da fonte */
    line-height: 19px; /* Define a altura da linha do texto */
    margin-bottom: 8px; /* Adiciona espaço entre o rótulo e o campo de entrada */
}

/* Estilização dos campos de entrada de texto */
.container form .inputContainer input {
    display: flex; /* Usa flexbox para facilitar o alinhamento */
    flex-direction: row; /* Organiza o conteúdo dos inputs horizontalmente */
    align-items: flex-start; /* Alinha os itens no início */
    padding: 16px; /* Adiciona espaçamento interno ao campo de entrada */

    width: 520px; /* Define a largura do campo de entrada */
    height: 49px; /* Define a altura do campo de entrada */

    border: 1px solid #5768b3; /* Define a cor e espessura da borda */
    border-radius: 12px; /* Adiciona cantos arredondados */
    margin-bottom: 12px; /* Espaçamento inferior para separar os campos de entrada */
}

/* Estilização dos links dentro do formulário */
.container form a {
    font-weight: 400; /* Define o peso da fonte como normal */
    font-size: 16px; /* Define o tamanho da fonte */
    line-height: 19px; /* Define a altura da linha do texto */
    padding-top: 16px; /* Adiciona espaçamento superior ao link */
    padding-bottom: 16px; /* Adiciona espaçamento inferior ao link */
    color: #747bdb; /* Define a cor do texto do link */
}

/* Estilização do botão de envio do formulário */
.container form .button {
    display: flex; /* Usa flexbox para facilitar o alinhamento */
    flex-direction: row; /* Organiza o conteúdo do botão horizontalmente */
    justify-content: center; /* Centraliza o conteúdo do botão */
    align-items: center; /* Alinha os itens no centro verticalmente */
    border: none; /* Remove a borda padrão do botão */

    width: 520px; /* Define a largura do botão */
    height: 48px; /* Define a altura do botão */

    background: #6067c4; /* Define a cor de fundo do botão */
    border-radius: 12px; /* Adiciona cantos arredondados */

    font-size: 18px; /* Define o tamanho da fonte */
    line-height: 22px; /* Define a altura da linha do texto */

    display: flex; /* Usa flexbox para facilitar o alinhamento */
    align-items: center; /* Alinha os itens no centro verticalmente */
    justify-content: center; /* Centraliza o conteúdo do botão */
    gap: 15px; /* Espaçamento entre os elementos internos do botão (texto e ícone) */
    color: #fff; /* Define a cor do texto do botão como branco */
}

/* Efeito de hover (passar o mouse) no botão */
.container form .button:hover {
    cursor: pointer; /* Muda o cursor para indicar que o botão é clicável */
    opacity: 0.8; /* Reduz a opacidade para criar um efeito de destaque */
    color: #262b31; /* Altera a cor do texto no hover */
    background: #56BFA1; /* Altera a cor de fundo no hover */
}

/* Rodapé do formulário */
.container form .footer {
    display: flex; /* Usa flexbox para facilitar o alinhamento */
    align-items: center; /* Alinha os itens no centro verticalmente */
    justify-content: center; /* Centraliza o conteúdo do rodapé */
    gap: 10px; /* Espaçamento entre o texto e o link */
}

/* Estilização do parágrafo no rodapé */
.container form .footer p {
    font-weight: 400; /* Define o peso da fonte como normal */
    font-size: 16px; /* Define o tamanho da fonte */
    line-height: 19px; /* Define a altura da linha do texto */
    color: black; /* Define a cor do texto */
}

/* Estilização dos links no rodapé */
.container form .footer a {
    font-weight: 400; /* Define o peso da fonte como normal */
    font-size: 16px; /* Define o tamanho da fonte */
    line-height: 19px; /* Define a altura da linha do texto */
    text-decoration-line: underline; /* Adiciona sublinhado ao link */
    color: #5768b3; /* Define a cor do link */
}
